* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #2d3a4b;
}

body {
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
}

li {
    list-style: none;
}

.font-montserrat {
    font-family: "Montserrat", sans-serif;
}

.font-playfair {
    font-family: "Playfair", sans-serif;
}

.text-orange {
    color: #f38509;
}

.text-yellow {
    color: #ffe115;
}

.bg-orange {
    background-color: #f38509;
}

.bg-yellow {
    background-color: #ffe115;
}

.fw-boold {
    font-weight: 600;
}

/*Top bar login */
.top-bar {
    height: 50px;
}

.top-bar .login li {
    display: inline-block;
    padding: 0 15px;
}

.top-bar .login li a {
    line-height: 50px;
    font-size: 12px;
    text-transform: uppercase;
}

.user-basket .item-count {
    position: absolute;
    top: 5px;
    right: 15px;
    color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}

.top-bar .user-basket .dropdown-menu {
    padding: 20px;
    border: 0;
    border-radius: 0;
    min-width: 450px;
    top: 12px !important;
    right: 0 !important;
    left: auto !important;
    box-shadow: -1px 2px 20px rgba(0, 0, 0, 0.3);
}
/* Sepetteki Scroolbar */
.overflow-custom {
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
}
/* Kaydırma çubuğunun stili için webkit öneki */
.overflow-custom::-webkit-scrollbar {
    width: 5px; /* Kaydırma çubuğunun genişliği */
}

.overflow-custom::-webkit-scrollbar-thumb {
    background-color: #f38509; /* Kaydırma çubuğu başlığının rengi */
    border-radius: 5px; /* Kaydırma çubuğu başlığının köşe yuvarlanma yarıçapı */
}